/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
/*Выключение крестика в поле ввода Эксплорер*/
input::-ms-clear{display: none;}
/**/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/*--------------------*/


body {
    min-width: 1100px;
    max-width: 1600px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
}
/*Шапка*/
header {
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;

}
.logo_place_header {
    margin: 0 0 0 64px;
    padding: 30px 0 0 0;
    font-size: 32px;
    width: 300px;
    position: absolute;

}
.title {
    display: flex;
    width: 730px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}
.subtitle {
    width: 388px;
    padding: 0 0 30px 0;
    margin: 0 0 0 64px;
    line-height: 25px;
    font-size: 18px;
}
.main-illustration {
    background-image: url(/img/two_again.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 2;

}
.square-pic {
    width: 568px;
    height: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
    z-index: 1;
}
/*Второй блок*/
.description {
    display: flex;
    justify-content: center;
}

.two-columns {
    width: 80%;
    min-width: 784px;
    display: flex;
    margin: 100px 0 0 0;
    justify-content: space-between;
}
.main-text {
    width: 80%;
}
.brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    display: flex;
    flex: 0 0 175px;
    color: #2f80ed;
}
.paragraph {
    line-height: 34px;
    font-size: 24px;

}
.paragraph:nth-child(2) {
    margin: 30px 0;
}
/*Трейтий блок (табл)*/
.digits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
 .section-title {
    margin: 100px 0 20px 0;
    display: flex;
    justify-content: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
 }
 .section-subtitle {
    line-height: 34px;
    font-size: 24px;
    display: flex;
    justify-content: center;
 }
 .table {
    width: 1100px;
    display: flex;
    margin: 60px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .cell {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 0 60px 0;

 }
.heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}
.text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0 0;
}
.end {
    line-height: 1.2;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0 0;
}
/*Фейнман*/
.feynman {
    position: relative;
    background-image: url(/img/feinman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 890px;


}
.feynman__title {
    width: 648px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 0 0;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
}
.feynman__subtitle {
    text-align: center;
    margin: 0 auto;
    padding: 70px 0 0 0;
    line-height: 51px;
    font-size: 36px;
}

.feynman__link {
    position: absolute;
    right: 0;
    line-height: 51px;
    font-size: 36px;
    color: #2f80ed;
}
/*Четвертый блок (табл)*/
.kaufman {
    background-color: #1f1f1f;
    color: white;
    overflow: hidden;
    position: relative;
}
.triangle {
    margin: 0 -210px 0 0;
    width: 877px;
    height: 877px;
    background-image: url(/img/images/triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    
}
.section-title__dark {
    padding: 90px 0 0 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.section-subtitle__dark {
    line-height: 34px;
    font-size: 24px;
    padding: 20px 0 80px 0;
    text-align: center; 
}
.table__theme__dark {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}
.cell__theme__dark {
    width: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 80px 0;
}
.heading__theme__dark {
    padding: 0 0 20px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;

}
.text__theme__dark {
    padding: 20px 0 0 0;
    line-height: 1.2;
    font-size: 18px;
}
/*Подвал*/

footer {
    background-color: #1f1f1f;
}
.footer__columns {
    width: 90%;
    padding: 60px 0 40px 0;
    margin: 0 auto;
    display: flex;
    min-height: 350px;
    color: #f2f2f2;
    justify-content: space-between;
}
.footer__column__content__copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}
.footer__logo {
    width: 183px;
    height: 35px;
    background-image: url(/img/images/logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.footer__author {
    padding: 18px 0 18px 0;
    line-height: 25px;
    font-size: 18px;
}
.footer__column-links {
    padding: 20px 0 16px 0;
    line-height: 30px;
    font-size: 18px;
}

a {
    padding: 0 0 0 10px;
}
.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.icon1 {
    height: 16px;
    width: 16px;
    background-image: url(/img/images/facebook_white.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;


}
.icon2 {
    height: 16px;
    width: 16px;
    height: 16px;
    width: 16px;
    background-image: url(/img/images/vk_white.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.icon3 {
    height: 10px;
    width: 10px;
    height: 16px;
    width: 16px;
    background-image: url(/img/images/instagram_white.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.column-link {
    display: flex;
    align-items: center;
}